.container {
    padding: 30px 0;
}
.product-item {
    border: 1px solid #000;
    padding: 30px;
}
.product-item a span {
    color: #fff;
}
.add-list {
    margin: 15px;
    height: 300px;
    padding: 10px;
    border: 1px solid #000;
}
.add-list li {
    list-style: none;
    padding-right: 20px;
    position: relative;
    cursor: pointer;
    text-align: left;
}
.add-list .remove {
    position: absolute;
    right: 10px;
    top: 0px;
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
}
.add-list li:hover .remove {
    opacity: 1;
}
.calculate-section {
    margin-top: 40px;
}
#calculate span {
    color: #fff;
}